<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Tagihan Pendaftar</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="content">
    <!--Dashboard Pendaftar-->
    <div class="" sec:authorize = "hasAuthority('VIEW_PENDAFTAR')">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="btn-toolbar">
                    <div class="btn-group" th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran S1</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default active" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/detailPendaftar/form}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                    <div class="btn-group" th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a  th:href="@{/detailPendaftar/formS2}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default active" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                </div>

                <div class="row" id="printDiv" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_160">
                            <div class="row">
                                <div class="col-xs-12 invoice-header" th:if="${hasilTest} == null">
                                    <h4>
                                        Untuk melihat tagihan harap selesaikan test terlebih dahulu, Silahkan hubungi <a href="https://wa.me/628159551299">admin</a>.
                                    </h4>
                                    <a href="https://wa.me/628159551299" class="btn btn-sm btn-info"><i class="fa fa-phone"></i>&nbsp;Admin</a>
                                </div>
                                <div class="col-xs-12 invoice-header" th:if="${hasilTest != null && pembayaran == null}">
                                    <h3>
                                        Berikut rincian tagihan biaya daftar ulang.
                                    </h3>
                                </div>
                                <div class="col-xs-12 invoice-header" th:if="${pembayaran != null }">
                                    <h3>
                                        Berikut rincian pembayaran daftar ulang.
                                    </h3>
                                </div>

                                <!-- /.col -->
                            </div>
                                    <!-- info row -->
                            <!-- /.row -->
                            <form th:if="${tagihan == 0}" th:action="@{/daftarUlang/formPendaftar}" th:object="${cicilanDto}" method="post">
                                <div class="row invoice-info" >
                                    <div class="col-sm-12 invoice-col">
                                        <address>
                                            <table class="tabs-left" >
                                                <tr style="font-weight: bold">
                                                    <td width="160px">Nomor Registrasi</td>
                                                    <td width="8px">:</td>
                                                    <td  th:text="${pendaftar.nomorRegistrasi}">201910000100010</td>
                                                </tr>
                                                <tr>
                                                    <td width="160px">Nama</td>
                                                    <td width="8px">:</td>
                                                    <td th:text="${pendaftar.leads.nama}">Haffizh</td>
                                                </tr>
                                                <tr>
                                                    <td width="160px">Jenjang</td>
                                                    <td width="8px">:</td>
                                                    <td th:text="${pendaftar.leads.jenjang}">S1</td>
                                                </tr>
                                                <tr>
                                                    <td width="160px">Program Studi</td>
                                                    <td width="8px">:</td>
                                                    <td th:text="${pendaftar.programStudi.nama +' - '+ pendaftar.konsentrasi}">Akutansi Syariah</td>
                                                </tr>
<!--                                                <tr>-->
<!--                                                    <td width="160px">Nominal Tagihan</td>-->
<!--                                                    <td width="8px">:</td>-->
<!--                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" style="font-weight: bold"-->
<!--                                                        th:text="${'Rp. ' + #numbers.formatDecimal(hasil.nilaiBiaya.nilai, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>-->
<!--                                                    <td th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" style="font-weight: bold"-->
<!--                                                        th:text="${'Rp. ' + #numbers.formatDecimal(S2, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>-->
<!--                                                </tr>-->
<!--                                                <tr th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">-->
<!--                                                    <td width="160px">Diskon</td>-->
<!--                                                    <td width="8px">:</td>-->
<!--                                                    <td style="font-weight: bold"  th:text="${diskon+'%'}">50%</td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" >Nominal setelah Diskon</td>-->
<!--                                                    <td th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" >Nominal Akhir</td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td width="200px;" th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" style="font-weight: bold; font-size: 20px;"  th:text="${'Rp. ' + #numbers.formatDecimal(nilaiDiskon, 0, 'POINT', 2, 'COMMA')}">50%</td>-->
<!--                                                    <td width="200px;" th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" style="font-weight: bold; font-size: 20px;"  th:text="${'Rp. ' + #numbers.formatDecimal(S2, 0, 'POINT', 2, 'COMMA')}">50%</td>-->
<!--                                                </tr>-->
                                            </table>
                                        </address>
                                    </div>
                                </div>

                                <input type="hidden" th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"  name="keteranganDis" th:value="${'Diskon sebesar '+ diskon + '% Uang Pangkal'}">
                                <input type="hidden" th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}"  name="keteranganDis" th:value="${'Tagihan normal '+ pendaftar.programStudi.nama +' - '+ pendaftar.konsentrasi}">
                                <div class="row" >
                                <div class="col-sm-12">
                                    <div class="body">
                                        <input type="hidden" th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" name="skema" value="skema1">
                                        <div class="col-sm-8" >
                                            <h2 th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">Pilih Skema Pembayaran</h2>
                                            <h4 th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">
                                                <input type="radio" class="flat" required name="skema" value="skema1"> Skema 1
                                            </h4>
                                            <label th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">Bayar biaya uang pangkal dicicil max 4 kali Rincian Biaya:</label>
                                        <table>
                                            <tr>
                                                <td width="160px">Nominal Tagihan</td>
                                                <td width="8px">:</td>
                                                <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"
                                                    th:text="${'Rp. ' + #numbers.formatDecimal(hasil.nilaiBiaya.nilai, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                                <td th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}"
                                                    th:text="${'Rp. ' + #numbers.formatDecimal(S2, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                            </tr>
                                            <tr th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">
                                                <td width="160px">Diskon</td>
                                                <td width="8px">:</td>
                                                <td style="font-weight: bold"  th:text="${diskon+'%'}">50%</td>
                                            </tr>
                                            <tr>
                                                <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" >Nominal setelah Diskon</td>
                                                <td th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" >Nominal Akhir</td>
                                                <td width="8px">:</td>

                                                <td width="200px;" th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" style="font-weight: bold" th:text="${'Rp. ' + #numbers.formatDecimal(nilaiDiskon, 0, 'POINT', 2, 'COMMA')}">50%</td>
                                                <td width="200px;" th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" style="font-weight: bold" th:text="${'Rp. ' + #numbers.formatDecimal(S2, 0, 'POINT', 2, 'COMMA')}">50%</td>

                                            </tr>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-4" >
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label>Pilih Angsuran</label>
                                                        <select class="form-control" onchange='Cicilan(this.value);' name="cicilan">
                                                            <option value="1">1x</option>
                                                            <option value="2">2x</option>
                                                            <option th:if="${hasilTest.jadwalTest.pendaftar.leads.jenjang.S1 == hasilTest.jadwalTest.pendaftar.leads.jenjang}" value="3">3x</option>
                                                            <option th:if="${hasilTest.jadwalTest.pendaftar.leads.jenjang.S1== hasilTest.jadwalTest.pendaftar.leads.jenjang}" value="4">4x</option>
                                                        </select>
                                                    </div>
                                                    <input type="hidden"  hidden name="nominalDiskon" th:value="${nilaiDiskon}">
                                                    <input type="hidden" name="keterangan" th:value="${'Diskon '+diskon+'%'}">
                                                </div>
                                            </div>
                                            <div class="col-md-8" name="1"  id="1"  style="display: block; width: 50%">
                                                <label>Rincian 1x Angsuran</label>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 1
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil1x1, 0, 'POINT', 2, 'COMMA') }">100%</span>
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="c1x1" th:value="${cicil1x1}">
                                            </div>
                                            <div class="col-md-8" name="2"  id="2"  style="display: none; width: 50%">
                                                <label>Rincian 2x Angsuran</label>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 1,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil2x1, 0, 'POINT', 2, 'COMMA') }"></span>50%
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 2,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil2x2, 0, 'POINT', 2, 'COMMA') }"></span>50% 2 Bulan setelah angsuran ke 1
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="c2x1" th:value="${cicil2x1}">
                                                <input type="hidden" name="c2x2" th:value="${cicil2x2}">

                                            </div>
                                            <div class="col-md-8" name="3"  id="3"  style="display: none;">
                                                <label>Rincian 3x Angsuran</label>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 1,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil3x1, 0, 'POINT', 2, 'COMMA') }"></span>40%
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 2,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil3x2, 0, 'POINT', 2, 'COMMA') }"></span>30% 2 Bulan setelah angsuran ke 1
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 3,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil3x3, 0, 'POINT', 2, 'COMMA') }"></span>30% 2 Bulan setelah angsuran ke 2
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="c3x1" th:value="${cicil3x1}">
                                                <input type="hidden" name="c3x2" th:value="${cicil3x2}">
                                                <input type="hidden" name="c3x3" th:value="${cicil3x3}">

                                            </div>
                                            <div class="col-md-8" name="4"  id="4"  style="display: none;">
                                                <label>Rincian 4x Angsuran</label>
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 1,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil4x1, 0, 'POINT', 2, 'COMMA') }"></span>40%
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 2,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil4x2, 0, 'POINT', 2, 'COMMA') }"></span>20% 2 Bulan setelah angsuran ke 1
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 3,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil4x3, 0, 'POINT', 2, 'COMMA') }"></span>20% 2 Bulan setelah angsuran ke 2
                                                    </li>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Angsuran ke 4,
                                                        <span class="badge bg-blue" th:text="${'Rp. ' + #numbers.formatDecimal(cicil4x4, 0, 'POINT', 2, 'COMMA') }"></span>20% 2 Bulan setelah angsuran ke 3
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="c4x1" th:value="${cicil4x1}">
                                                <input type="hidden" name="c4x2" th:value="${cicil4x2}">
                                                <input type="hidden" name="c4x3" th:value="${cicil4x3}">
                                                <input type="hidden" name="c4x4" th:value="${cicil4x4}">

                                            </div>
                                        </div>
                                        </div>
                                        <br>
                                        <div class="col-sm-8" th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">
                                            <h4><input type="radio" class="flat" required name="skema" value="skema2"> Skema 2</h4>
                                            <label>Bayar full biaya kuliah selama 4 tahun (Uang Pangkal, Asrama 10 bulan, UKT, Penelitian dan Wisuda) di angsur selama 48 Bulan
                                                cicilan pertama dibayarkan saat daftar ulang, cicilan berikutnya dibayarkan saat mulai aktif kuliah. Rincian Biaya:</label>
                                            <table>
                                                <tr>
                                                    <td width="200px" th:text="${'Uang Pangkal (diskon ' +diskon+'%)'}"></td>
                                                    <td width="8px">:</td>
                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"
                                                        th:text="${'Rp. ' + #numbers.formatDecimal(nilaiDiskon, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                                </tr>
                                                <tr>
                                                    <td width="200px">Asrama 10 Bulan</td>
                                                    <td width="8px">:</td>
                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"
                                                        th:text="${'Rp. ' + #numbers.formatDecimal(asrama, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                                </tr>
                                                <tr>
                                                    <td width="200px">UKT 8 Semester</td>
                                                    <td width="8px">:</td>
                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"
                                                        th:text="${'Rp. ' + #numbers.formatDecimal(ukt, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                                </tr>
                                                <tr>
                                                    <td width="200px">Penelitian dan Wisuda</td>
                                                    <td width="8px">:</td>
                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"
                                                        th:text="${'Rp. ' + #numbers.formatDecimal(wisuda, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                                </tr>

                                                <tr  style="font-weight: bold" >
                                                    <td width="200px">Total</td>
                                                    <td width="8px">:</td>
                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"
                                                        th:text="${'Rp. ' + #numbers.formatDecimal(totalAkhir, 0, 'POINT', 2, 'COMMA')}">Rp.300.000,00</td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr style="font-weight: bold">
                                                    <td width="200px">Cicilan Perbulan</td>
                                                    <td width="8px">:</td>
                                                    <td th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" style="font-weight: bold"
                                                        th:text="${'Rp. ' + #numbers.formatDecimal(perbulan, 0, 'POINT', 2, 'COMMA')+ ' Selama 48 Bulan'}">Rp.300.000,00</td>
                                                    <input type="hidden" name="perbulan" th:value="${perbulan}">
                                                </tr>
                                            </table>
                                        </div>
                                         <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <br>
                                                        <button class="btn btn-md btn-info waves-effect" type="submit">Kirim Tagihan</button>
                                                        <a th:href="@{/daftarUlang/formPendaftar}" class="btn btn-md btn-danger waves-effect" type="submit">BATAL</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form action="" th:if="${tagihan == 1}">
                                <div class="col-sm-12 invoice-col">
                                    <table class="tabs-left table-responsive" th:if="${tagihan} != null">
                                        <tr style="font-weight: bold; font-size: 15px;">
                                            <td width="130px">Nomor Registrasi</td>
                                            <td width="8px">:</td>
                                            <td  th:text="${noReg}" >201910000100010</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td width="130px">Nama</td>
                                            <td width="8px">:</td>
                                            <td th:text="${nama}" >Haffizh</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td width="130px">Program Studi</td>
                                            <td width="8px">:</td>
                                            <td th:text="${prodi +' - '+ konsen}" >S1</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td width="130px">Keterangan</td>
                                            <td width="8px">:</td>
                                            <td th:text="${keterangan + ' Uang Pangkal'}" >S1</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td width="130px">Total Tagihan</td>
                                            <td width="8px">:</td>
                                            <td th:text="${'Rp. ' + #numbers.formatDecimal(totalTagihan, 0, 'POINT', 2, 'COMMA') }"></td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td width="130px">Total Bayar</td>
                                            <td width="8px">:</td>
                                            <td th:if="${totalBayar == null}">Rp. 0</td>
                                            <td th:if="${totalBayar != null}" th:text="${'Rp. ' + #numbers.formatDecimal(totalBayar, 0, 'POINT', 2, 'COMMA') }"></td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td width="130px">Sisa Tagihan</td>
                                            <td width="8px">:</td>
                                            <td th:text="${'Rp. ' + #numbers.formatDecimal(sisaTagihan, 0, 'POINT', 2, 'COMMA') }"></td>
                                        </tr>
                                        <tr></tr>
                                    </table>
                                </div>
                                <br><br>
                                <address>
                                    <br><br>
                                    <h3>Tagihan Terkirim</h3>
                                    <div class="table-responsive">
                                        <table class="table table-bordered  table-striped table-hover" th:if="${tagihan} != null" >
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nomor Tagihan</th>
                                                <th>Nilai Tagihan</th>
                                                <th>Tanggal Jatuh Tempo</th>
                                                <th>Status</th>
                                                <th>Rekening Transfer</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="tg,row: ${tagihanLunas}">
                                                <td th:text="${(row.index + 1) + (tagihanLunas.number * tagihanLunas.size)}">#</td>
                                                <td th:text="${tg.nomorTagihan}"></td>
                                                <td th:text="${'Rp. ' + #numbers.formatDecimal(tg.nilai, 0, 'POINT', 2, 'COMMA') }"></td>

                                                <td th:if="${pembayaran} != null and ${tg.lunas}" th:text="${#temporals.format(tg.tanggalJatuhTempo, 'dd-MMM-yyyy')} + ', Tanggal Bayar ' + ${#temporals.format(pembayaran.waktuPembayaran, 'dd-MMM-yyyy')}"></td>

                                                <td th:if="${!tg.lunas}" th:text="${#temporals.format(tg.tanggalJatuhTempo, 'dd-MMM-yyyy')}"></td>

                                                <td th:if="${pembayaran} != null and ${tg.lunas}" style="color: #0e90d2">Lunas
                                                    <br>
                                                <a th:each="pem : ${pem}" th:if="${pem.tagihan == tg}" th:href="@{/kwitansi(id = ${pem.id})}" style="margin-right: 100px;"  class="btn btn-xs btn-success">
                                                    Kwitansi
                                                </a>
                                                </td>
                                                <td th:if="${!tg.lunas}" style="color: red">Belum Lunas</td>
                                                <td th:if="${tg.lunas} and ${pembayaran} != null" >
                                                    <span>Rekening Pilihan</span>
                                                    <ul>
                                                        <li  th:text="${'Virtual Account '+ vaNama + ' - ' + vaNo}">Virtual Account CIMB Syariah</li>
                                                    </ul>
                                                </td>

                                                <td th:if="${!tg.lunas}">
                                                    <span>Pilih Salah Satu</span>
                                                    <ul th:each="va : ${virtualAccountBlm}">
                                                        <li th:text="${'Virtual Account '+va.bank.namaBank+ ' - ' + va.nomorVa}">Virtual Account CIMB Syariah</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </address>
                                <!--Sisa Tagihan/ Angsuran-->
                                <div class="col-sm-8">
                                    <hr>
                                    <h3>Sisa Angsuran</h3>
                                    <address>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover" th:if="${cicilan} != null and ${jumlahCicilan <= 4}" >
                                                <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nilai Tagihan</th>
                                                    <th>Keterangan</th>
                                                    <th>Tanggal Penagihan</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="cc,row: ${cicilan}">
                                                    <td th:text="${(row.index + 1) + (cicilan.number * cicilan.size)}">#</td>
                                                    <td th:text="${'Rp. ' + #numbers.formatDecimal(cc.nominal, 0, 'POINT', 2, 'COMMA') }"></td>
                                                    <td th:text="${'Cicilan Ke ' + cc.urutanCicilan}"></td>
                                                    <td th:text="${#temporals.format(cc.tanggalKirim, 'dd-MMM-yyyy')}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-bordered table-striped table-hover" th:if="${cicilan} != null and ${jumlahCicilan >= 4}" >
                                                <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nilai Tagihan</th>
                                                    <th>Keterangan</th>
                                                    <th>Tanggal Penagihan</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td style="font-weight: bold;" th:text="${'Rp. ' + #numbers.formatDecimal(nilaiCicilan, 0, 'POINT', 2, 'COMMA') }"></td>
                                                    <td>Sisa Cicilan Sebanyak 47x</td>
                                                    <td>Cicilan berikutnya dikirim ketika sudah mendapatkan NIM (dibulan september 2022)</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </address>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
</body>
<th:block layout:fragment="script">
    <script>
        function Cicilan(val){
            var st=document.getElementById('1');
            var da=document.getElementById('2');
            var tg=document.getElementById('3');
            var em=document.getElementById('4');
            if(val=='1') {
                st.style.display = 'block';
                da.style.display = 'none';
                tg.style.display = 'none';
                em.style.display = 'none';
            }else if (val == '2') {
                st.style.display = 'none';
                da.style.display = 'block';
                tg.style.display = 'none';
                em.style.display = 'none';
            }else if (val == '3') {
                st.style.display = 'none';
                da.style.display = 'none';
                tg.style.display = 'block';
                em.style.display = 'none';
            }else if (val == '4') {
                st.style.display = 'none';
                da.style.display = 'none';
                tg.style.display = 'none';
                em.style.display = 'block';
            } else {
                st.style.display = 'none';
                da.style.display = 'none';
                tg.style.display = 'none';
                em.style.display = 'none';
            }
        }
    </script>
</th:block>

</html>