<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Form Input Tagihan</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function copyTextValue(bf) {
            var text1 = bf.checked ? document.getElementById("nilai1").value : '';
            document.getElementById("nilai").value = text1;
        }
    </script>
</th:block>

<section layout:fragment="main" class="clearfix">
    <div th:if="${tagihan == null}">
        <section class="clearfix">
            <form method="post" th:action="@{/daftarUlang/form}" th:object="${hasil}">
                <input type="hidden" name="jadwalTest" th:field="*{jadwalTest}">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_160">
                            <div class="x_title">
                                <h2 style="font-style: normal; font-size: 30px;" th:text="${'Tagihan DU : '+ pendaftar.nomorRegistrasi + ' > ' + pendaftar.leads.nama}"></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label>Program Studi</label>
                                                        <span type="text" th:text="*{jadwalTest.pendaftar.programStudi.nama} + ' - ' + *{jadwalTest.pendaftar.konsentrasi}" name="programStudi"
                                                              class="form-control" ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label>Grade</label>
                                                        <span type="text" th:text="*{grade.nama}" name="programStudi"
                                                              class="form-control" ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label>Priode</label>
                                                        <span type="text" th:text="*{periode.nama}" name="programStudi"
                                                              class="form-control" ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label>Jenis Test</label>
                                                        <span type="text" th:text="*{jenisTest}" name="programStudi"
                                                              class="form-control" ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label>Nilai | <a href="" style="color: #00CC33"  data-toggle="modal" data-target="#real">Daftar Nilai</a></label>
                                                        <input type="text" disabled  name="nilai1" id="nilai1" th:value="*{nilaiBiaya.nilai}" placeholder="Nilai" class="form-control" required />
                                                        <input type="hidden"    name="nilai" id="nilai" th:value="*{nilaiBiaya.nilai}" placeholder="Nilai" class="form-control" required />
                                                    </div>
<!--                                                    <div class="checkbox">-->
<!--                                                        <label>-->
<!--                                                            <input type="hidden" name="nilai1" id="nilai1"  th:value="*{nilaiBiaya.nilai}"/>-->
<!--                                                            <input type="checkbox" name="check1" onchange="copyTextValue(this);"/>Tagihan Sesuai Ketentuan : <span th:text="*{nilaiBiaya.nilai}"></span>-->
<!--                                                        </label>-->
<!--                                                    </div>-->
                                                </div>
                                            </div><div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Keterangan</label>
                                                    <input type="text" th:if="*{jadwalTest.pendaftar.leads.jenjang.S1 == jadwalTest.pendaftar.leads.jenjang}" value="Diskon 50% bulan desember."  disabled name="keterangan" placeholder="Keterangan" class="form-control" required />
                                                    <input type="text" th:if="*{jadwalTest.pendaftar.leads.jenjang.S2 == jadwalTest.pendaftar.leads.jenjang}" name="keterangan" placeholder="Keterangan" class="form-control" required />
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <button class="btn btn-md btn-info waves-effect" type="submit">SELESAI</button>
                                                        <a th:href="@{/pendaftar/list}" class="btn btn-md btn-danger waves-effect" type="submit">BATAL</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <!--DaftarNilaiBiaya-->
        <section class="clearfix">
        <div class="modal fade" id="real" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="diksonLabel">Daftar Nilai Biaya</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Jenis Biaya</th>
                                            <th>Grade</th>
                                            <th>Periode</th>
                                            <th>Program Studi</th>
                                            <th>Nilai Biaya</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p, row : ${daftarNilai}">
                                            <td th:text="${(row.index + 1) + (daftarNilai.number * daftarNilai.size)}">#</td>
                                            <td th:text="${p. jenisBiaya.nama}">muamalah</td>
                                            <td th:text="${p. Grade.nama}">10-08-2017</td>
                                            <td th:text="${p. periode.nama}">10-10-2017</td>
                                            <td th:text="${p. programStudi.nama}">10-10-2017</td>
                                            <td th:text="${p. nilai}">10-10-2017</td>                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-sm btn-info waves-effect"  data-dismiss="modal">Kembali</button>
                    </div>
                </div>
            </div>
        </div>    </section>
    </div>

    <!--Tagihan sebelumnya belum di lunasi-->
    <div th:if="${tagihan != null}">
        <section class="clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_160">
                        <div class="x_title">
                            <h2 style="font-style: normal; font-size: 30px;" th:text="${'Tagihan DU : '+ pendaftar.nomorRegistrasi + ' > ' + pendaftar.leads.nama}"></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-info alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    <strong>Tagihan Belum Lunas!</strong> Harap lunasi tagihan sebelumnya.
                                </div>
                                <div class="body">
                                    <div class="row invoice-info">
                                        <div class="col-sm-7 invoice-col">
                                            <address>
                                                <table class="tabs-left" th:if="${tagihan} != null">
                                                    <tr style="font-weight: bold">
                                                        <td width="130px">Nomor Tagihan</td>
                                                        <td width="8px">:</td>
                                                        <td  th:text="${tagihan.nomorTagihan}">201910000100010</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="130px">Nama</td>
                                                        <td width="8px">:</td>
                                                        <td th:text="${tagihan.pendaftar.leads.nama}">Haffizh</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="130px">Jenjang</td>
                                                        <td width="8px">:</td>
                                                        <td th:text="${tagihan.pendaftar.leads.jenjang}">S1</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="130px">Program Studi</td>
                                                        <td width="8px">:</td>
                                                        <td th:text="${tagihan.pendaftar.programStudi.nama}">Akutansi Syariah</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="130px">Nilai Tagihan</td>
                                                        <td width="8px">:</td>
                                                        <td style="font-weight: bold"  th:text="${'Rp.'+tagihan.nilai}">Rp.300.000,00</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="130px">Keterangan</td>
                                                        <td width="8px">:</td>
                                                        <td  th:text="${tagihan.keterangan}">Tagihan Pendaftaran a.n Haffizh Ahmad Fauzi</td>
                                                    </tr>
                                                </table>
                                                <br>
                                                <h3>Nomor Virtual Account</h3>
                                                <small style="color: red;">*Pilih Salah Satu</small>
                                                <table class="table">
                                                    <tr th:each="va,row : ${virtualAccount}">
                                                        <td th:text="${(row.index + 1) + (virtualAccount.number * virtualAccount.size)}">#</td>
                                                        <td th:text="${'Virtual Account '+va.bank.namaBank}">Virtual Account CIMB Syariah</td>
                                                        <th style="width:50%" th:text="${va.nomorVa}">20191000010020167</th>
                                                    </tr>
                                                </table>
                                            </address>
                                        </div>
                                        <div class="col-sm-5" >
                                            <div th:if="${cekpembayaran} != null and ${tagihan} != null" style="width: 200px; height: 75px; border: 8px solid red; text-align: center;">
                                                <h1>Lunas</h1>
                                            </div>
                                            <div th:if="${cekpembayaran} == null and ${tagihan} != null" style="width: 200px; height: 60px; border: 8px solid red; text-align: center;">
                                                <h3>Belum Lunas</h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--Riwayat Pembayaran-->
    <div th:if="${pembayaran != null}">
        <section class="clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_160">
                        <div class="x_title">
                            <h2 style="font-style: normal; font-size: 30px;" th:text="${'Riwayat DU : '+ pendaftar.nomorRegistrasi + ' > ' + pendaftar.leads.nama}"></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="body">
                                    <div class="row invoice-info">
                                        <div class="col-sm-12 invoice-col">
                                            <address>
                                                <table class="table">
                                                    <tr th:each="p,row : ${pembayaran}">
                                                        <td th:text="${(row.index + 1) + (pembayaran.number * pembayaran.size)}">#</td>
                                                        <td th:text="${p. tagihan.pendaftar.nomorRegistrasi}">201801002</td>
                                                        <td th:text="${p. tagihan.pendaftar.leads.nama}">haffizh</td>
                                                        <td th:text="${p. tagihan.jenisBiaya.nama }">10-08-2017</td>
                                                        <td th:text="${p. bank.namaBank }">10-08-2017</td>
                                                        <td th:text="${p. nilai }">10-08-2017</td>
                                                        <td th:text="${p.tagihan.keterangan}"></td>
                                                    </tr>
                                                </table>
                                            </address>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
</body>
</html>