<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Hasil Test</title>
    <style type="text/css">
        td{
            color: black;
        }
        table.table-bordered{
            border:1px solid black;
            margin-top:20px;
        }
        table.table-bordered > thead > tr > th{
            border:1px solid black;
            color: black;
        }
        table.table-bordered > tbody > tr > td{
            border:1px solid black;
        }
    </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="container">
    <div class="" sec:authorize = "hasAuthority('VIEW_PENDAFTAR')">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="btn-toolbar">
                    <div class="btn-group" th:if="${jadwalTest.pendaftar.leads.jenjang.S1 == jadwalTest.pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran S1</button>
                        </a>
                        <a   th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a   th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default" type="button">Jadwal Test</button>
                        </a>
                        <a   th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a   th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default active" type="button">Hasil Test</button>
                        </a>
                        <a   th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a   th:href="@{/detailPendaftar/form}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a   th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                    <div class="btn-group" th:if="${jadwalTest.pendaftar.leads.jenjang.S2 == jadwalTest.pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a  th:href="@{/detailPendaftar/formS2}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default active" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                </div>

                <div class="row" id="printDiv" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row" th:if="${pembayaran} == null">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel tile fixed_height_160">
                                    <div class="alert alert-info">
                                        <h2><i class="fa fa-warning"></i> Warning!</h2>
                                        <h5>Untuk melanjutkan proses pendaftaran silahkan lakukan pembayaran biaya pendaftaran pada menu "tagihan pendaftaran".</h5>
                                        <a th:href="@{/tagihan/listPendaftar}" class="btn btn-warning"><i class="fa fa-money"></i>&nbsp;Lihat Tagihan</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${hasilTest} == null">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel tile fixed_height_160">
                                    <div class="alert alert-info">
                                        <h2><i class="fa fa-warning"></i> Warning!</h2>
                                        <h5>Untuk melihat hasil test silahkan lakukan test terlebih dahulu.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel tile fixed_height_160" th:if="${pembayaran} != null and ${hasilTest} != null">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 style="color: black;">Berikut kami sampaikan hasil test masuk mahasiswa/i baru Institut Tazkia :</h4>
                                    <table style="font-size: 15px;" th:if="${hasilTest} != null and ${jadwalTest} != null"
                                           th:each="ht : ${hasilTest}">
                                        <tr>
                                            <td><b>No. Pendaftaran</b>&nbsp;</td>
                                            <td>:</td>
                                            <td style="font-weight: bold" th:text="'&nbsp;'+${ht.jadwalTest.pendaftar.nomorRegistrasi}">201911005</td>
                                        </tr>
                                        <tr>
                                            <td>Nama</td>
                                            <td>:</td>
                                            <td th:text="'&nbsp;'+${ht.jadwalTest.pendaftar.leads.nama}">Haffizh Ahmad Fauzi</td>
                                        </tr>
                                        <tr>
                                            <td>Jenjang</td>
                                            <td>:</td>
                                            <td th:text="'&nbsp;'+${ht.jadwalTest.pendaftar.leads.jenjang}">S1</td>
                                        </tr>
                                        <tr>
                                            <td>Program Studi</td>
                                            <td>:</td>
                                            <td th:text="'&nbsp;'+${ht.jadwalTest.pendaftar.programStudi.nama}">Ekonomi Manajemen Syariah</td>
                                        </tr>
                                        <tr>
                                            <td><b>Jalur Test</b></td>
                                            <td>:</td>
                                            <td th:if="${ht.jadwalTest.jenisTest.TPA == ht.jadwalTest.jenisTest}"><b>&nbsp;Test Potensi Akademik (TPA)</b></td>
                                            <td th:if="${ht.jadwalTest.jenisTest.JPA == ht.jadwalTest.jenisTest}"><b>&nbsp;Jalur Potensi Akademik (JPA)</b></td>
                                            <td th:if="${ht.jadwalTest.jenisTest.SMART_TEST == ht.jadwalTest.jenisTest}"><b>&nbsp;SMART TEST</b></td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td colspan="3">Selamat Anda kami nyatakan lulus dengan predikat :</td>
                                        </tr>
                                        <tr></tr>
                                        <tr th:if="${ht.jadwalTest.pendaftar.leads.jenjang.S1 == ht.jadwalTest.pendaftar.leads.jenjang}">
                                            <td><br>
                                                <button type="submit" class="btn btn-primary btn-round" th:text="${ht.grade.nama}" disabled>Grade A</button>
                                            </td>
                                        </tr>
                                        <tr th:if="${ht.jadwalTest.pendaftar.leads.jenjang.S2 == ht.jadwalTest.pendaftar.leads.jenjang}">
                                            <td><br>
                                                <button type="submit" class="btn btn-primary btn-round" th:if="${ht.grade.id} == '001' or ${ht.grade.id} == '002'" disabled>Lulus</button>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr style="font-size: 13px;">
                                            <td colspan="3" style="color: red"><br>
                                                Proses selanjutnya silahkan melakukan daftar ulang.
                                                <br>Untuk info tagihan daftar ulang dan rincian biaya silahkan hubungi admin kami.</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</section>

</body>
</html>




