<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Data Pembayaran Pendaftar</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">
    <div class="row"  sec:authorize="hasAnyAuthority('VIEW_MASTER','VIEW_PASCASARJANA','VIEW_AKADEMIK')">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title">
                    <h1>Data Pembayaran</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="body">
                    <form method="get">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Nama Pendaftar</label>
                                        <input type="text" name="pendaftar"
                                               class="form-control" th:value="${pendaftar}"
                                               placeholder="Nama Pendaftar"   autofocus/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" style="margin-top: 7px;">
                                <div class="form-group">
                                    <label></label><br>
                                    <input type="submit" value="Cari" class="btn  btn-info btn-sm waves-effect">
                                    <a th:href="@{/pembayaran/listS2}" class="btn btn-sm btn-danger" type="submit">Reset</a>

                                </div>
                            </div>
                        </div>
                    </form>
                    Show <span sd:page-size-selector="javascript"></span> entries

                    <hr>


                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr  style="background-color: #3f5367; color: white;" class="heading">
                                    <th>No</th>
                                    <th>No Registrasi</th>
                                    <th>Nama</th>
                                    <th>Jenis Biaya</th>
                                    <th>Bank</th>
                                    <th>Nilai Transfer</th>
                                    <th>Keterangan</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p,row : ${daftarPembayaran}">
                                    <td th:text="${(row.index + 1) + (daftarPembayaran.number * daftarPembayaran.size)}">#</td>
                                    <td th:text="${p. tagihan.pendaftar.nomorRegistrasi}">201801002</td>
                                    <td th:text="${p. tagihan.pendaftar.leads.nama} +' - '+ ${p.tagihan.pendaftar.leads.jenjang}">haffizh</td>
                                    <td th:text="${p. tagihan.jenisBiaya.nama }">10-08-2017</td>
                                    <td th:text="${p. bank.namaBank }">10-08-2017</td>
                                    <td th:text="${p. nilai }">10-08-2017</td>

                                    <td th:text="${p.tagihan.keterangan}"></td>

                                    <td>
                                                <span>
                                                    <a th:href="@{/tagihan/detailTagihan(idTagihan = ${p. tagihan.id})}" class="btn btn-xs btn-info waves-effec">Cek</a>
                                                </span>
                                    </td>
                                    <td>
                                    <span th:if="${p.tagihan.jenisBiaya.id == '002' && p.tagihan.pendaftar.leads.jenjang.S1 == p.tagihan.pendaftar.leads.jenjang}" >
                                                    <a th:href="@{/generateNim/form(pendaftar = ${p. tagihan.pendaftar.id})}" class="btn btn-xs btn-warning waves-effec">Cek Data</a>
                                    </span>
                                     <span th:if="${p.tagihan.jenisBiaya.id == '002' && p.tagihan.pendaftar.leads.jenjang.S2 == p.tagihan.pendaftar.leads.jenjang}" >
                                                    <a th:href="@{/generateNim/formS2(pendaftar = ${p. tagihan.pendaftar.id})}" class="btn btn-xs btn-warning waves-effec">Cek Data</a>
                                    </span>
                                    <span th:if="${p.tagihan.jenisBiaya.id == '002'}">
                                                    <a th:href="@{/suratKeterangan(pendaftar = ${p.tagihan.pendaftar.id})}" class="btn btn-xs bg-green waves-effect">Surat Keterangan</a>
                                    </span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div sd:pagination-summary="">info</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>