<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Tagihan Pendaftar</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="content">
    <!--Dashboard Pendaftar-->
    <div class="" sec:authorize = "hasAuthority('VIEW_PENDAFTAR')">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="btn-toolbar">
                    <div class="btn-group" th:if="${tagihan != null and tagihan.pendaftar.leads.jenjang.S1 == tagihan.pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran S1</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default active" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/detailPendaftar/form}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                    <div class="btn-group" th:if="${tagihan != null and tagihan.pendaftar.leads.jenjang.S2 == tagihan.pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default active" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a  th:href="@{/detailPendaftar/formS2}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default " type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                </div>

                <div class="row" id="printDiv" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_160">
                            <div class="row">
                                <div class="col-xs-12 invoice-header" th:if="${tagihan} == null">
                                    <h3>
                                        Tagihan Belum Tersedia, Silahkan muat ulang.
                                    </h3>
                                </div>
                                <div class="col-xs-12 invoice-header" th:if="${tagihan} != null">
                                    <h3>
                                        Berikut kami sampaikan tagihan biaya pendaftaran.
                                    </h3>
                                </div>

                                <!-- /.col -->
                            </div>
                                    <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-7 invoice-col">
                                    <address>
                                        <table class="tabs-left" th:if="${tagihan} != null">
                                            <tr style="font-weight: bold">
                                                <td width="130px">Nomor Tagihan</td>
                                                <td width="8px">:</td>
                                                <td  th:text="${tagihan.nomorTagihan}">201910000100010</td>
                                            </tr>
                                            <tr>
                                                <td width="130px">Nama</td>
                                                <td width="8px">:</td>
                                                <td th:text="${tagihan.pendaftar.leads.nama}">Haffizh</td>
                                            </tr>
                                            <tr>
                                                <td width="130px">Jenjang</td>
                                                <td width="8px">:</td>
                                                <td th:text="${tagihan.pendaftar.leads.jenjang}">S1</td>
                                            </tr>
                                            <tr>
                                                <td width="130px">Program Studi</td>
                                                <td width="8px">:</td>
                                                <td th:text="${tagihan.pendaftar.programStudi.nama}">Akutansi Syariah</td>
                                            </tr>
                                            <tr>
                                                <td width="130px">Nilai Tagihan</td>
                                                <td width="8px">:</td>
                                                <td style="font-weight: bold"  th:text="${'Rp. ' + #numbers.formatDecimal(tagihan.nilai, 0, 'POINT', 2, 'COMMA') }">Rp.300.000,00</td>
                                            </tr>
                                            <tr>
                                                <td width="130px">Keterangan</td>
                                                <td width="8px">:</td>
                                                <td  th:text="${tagihan.keterangan}">Tagihan Pendaftaran a.n Haffizh Ahmad Fauzi</td>
                                            </tr>
                                        </table>
                                    </address>
                                </div>
                                <div class="col-sm-5" >
                                    <div th:if="${pembayaran} != null and ${tagihan} != null" style="width: 200px; height: 75px; border: 8px solid red; text-align: center;">
                                        <h1>Lunas</h1>
                                    </div>
                                    <div th:if="${pembayaran} == null and ${tagihan} != null" style="width: 200px; height: 60px; border: 8px solid red; text-align: center;">
                                        <h3>Belum Lunas</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="row" th:if="${tagihan} != null">
                                <div class="col-md-7 col-sm-12 col-xs-12" >
                                    <h4>Nomor Virtual Account</h4>
                                    <small style="color: red">*Pilih Salah Satu</small>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <tr th:each="va,row : ${virtualAccount}">
                                                <td th:text="${(row.index + 1) + (virtualAccount.number * virtualAccount.size)}">#</td>
                                                <td th:text="${'Virtual Account '+va.bank.namaBank}">Virtual Account CIMB Syariah</td>
                                                <th style="width:50%" th:text="${va.nomorVa}">20191000010020167</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                                <a th:if="${pembayaran} != null and ${tagihan} != null" th:href="@{/kwitansi(id = ${pembayaran.id})}" style="margin-right: 100px;"  class="btn btn-sm btn-success">
                                    Kwitansi Pembayaran
                                </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- this row will not appear when printing -->
                <div class="row no-print" th:if="${pembayaran} == null">
                    <div class="col-xs-12" th:if="${tagihan} != null">
                        <button class="btn btn-default" id="doPrint"><i class="fa fa-print"></i>Cetak Tagihan</button>
                        <a th:href="@{/panduanPembayaran}" class="btn btn-success"></i>Panduan Pembayaran</a>
                    </div>
                    <div class="col-xs-12" th:if="${tagihan} == null">
                        <a th:href="@{/tagihan/listPendaftar}" class="btn btn-primary"><i class="fa fa-refresh"></i>Refresh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<th:block layout:fragment="script">
    <script>
        document.getElementById("doPrint").addEventListener("click", function() {
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        });
    </script>
</th:block>

</html>