<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPMB Institut TAZKIA</title>
    <meta name="description" content="SPMB Intitut Tazkia">
    <meta name="keywords" content="SPMB Intitut Tazkia">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" th:href="@{../index/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/imagehover.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/style.css}">
    <link th:href="@{/css/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Mentorth:
    @{/index/ Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
    <style type="text/css">
        .header-card{
            /*background-color: #ef7920;*/
            color: white;
            border-bottom: 1px solid white;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
            color: black;
        }

        tr:nth-child(even){background-color: #EBEBEB
        }
    </style>
</head>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2049598288609603');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=2049598288609603&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SPMB<span>TAZKIA</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/#prodi}">Program</a></li>
                <li><a th:href="@{/#periode}">Periode</a></li>
                <li><a th:href="@{/smartTest/listIndex}">Smart Test</a></li>
                <li><a th:href="@{/#contact}">Kontak</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li class="btn-trial"><a th:href="@{/leads/form}">Buat Akun</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="leads" class="section-padding" style="margin-top: 50px; color: black; height: 550px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color: white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="panel header-card" style="color: white;">
                                <!--<div class="form-group col-md-12 col-xs-12">-->
                                    <!--<div class="panel-heading" style="color: white">-->
                                        <!--<h1 class="panel-title" align="center" style="display: inline;font-weight: bold; font-size: 28px;color: black;">Hasil Smart Test</h1>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12" style="background-color: black; width: 100%;"></div>-->
                                <!--</div>-->
                                <div class="header-section text-center">
                                    <h1>Hasil Smart Test</h1>
                                    <hr class="bottom-line">
                                </div>
                                <div class="panel-body">
                                    <form method="get">
                                        <div class="form-group right col-md-5">
                                            <label style="color: black;">Asal Sekolah :</label>
                                            <input class="form-control" name="sekolah" th:if="${sekolah == null}" placeholder="Asal Sekolah" type="text" value="">
                                            <input class="form-control" name="sekolah" th:if="${sekolah != null}" th:value="${sekolah}" placeholder="Asal Sekolah" type="text" value="">
                                        </div>
                                        <div class="form-group right col-md-5">
                                            <label style="color: black;">Nama :</label>
                                            <input class="form-control" name="nama" th:if="${nama == null}" placeholder="Nama" type="text" value="">
                                            <input class="form-control" name="nama" th:if="${nama != null}" th:value="${nama}" placeholder="Nama" type="text" value="">
                                        </div>
                                        <div class="form-group right col-md-2">
                                            <button class="btn btn-xs btn-primary" style="margin-top: 15%;" type="submit">Cari</button>
                                        </div>
                                    </form>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="table-responsive" style="overflow-x:auto;">
                                            <span style="color: black;" class="pull-right">Show <span sd:page-size-selector="javascript"></span> entries</span><br><br>
                                            <table border="1" class="table-bordered">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama</th>
                                                    <th>Asal Sekolah</th>
                                                    <th>Grade</th>
                                                </tr>
                                                <tr th:each="l,row : ${listSmart}">
                                                    <td th:text="${(row.index + 1) + (listSmart.number * listSmart.size)}">#</td>
                                                    <td th:text="${l.nama}">Haffizh Ahmad Fauzi</td>
                                                    <td th:text="${l.asalSekolah}">SMK WIKRAMA BOGOR</td>
                                                    <td th:if="${l.nilai} >= 70"><span class="label label-primary">Grade A</span></td>
                                                    <td th:if="${l.nilai} >= 30 and ${l.nilai} < 70"><span class="label label-success">Grade B</span></td>
                                                    <td th:if="${l.nilai} < 30"><span class="label label-danger">Tidak Lulus</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row" style="color: black;">
                                            <div class="col-sm-6">
                                                <div sd:pagination-summary="">info</div>
                                            </div>
                                        </div>
                                        <div class="row" style="color: black;">
                                            <div class="col-sm-8">
                                                <nav class="pull-left">
                                                    <ul class="pagination" sd:pagination="full">
                                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer id="footer" class="footer" style="margin-top: 10%">
        <div class="container text-center">
            <!-- End newsletter-form -->
            <ul class="social-links">
                <li><a href="https://twitter.com/steitazkia/"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="https://www.facebook.com/humas.steitazkia"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="https://instagram.com/institut_tazkia/"><i class="fa fa-instagram fa-fw"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCgYgEX95uEHoljswnmiDvYA"><i class="fa fa-youtube fa-fw"></i></a></li>
            </ul>
            ©2019 Institut Tazkia. All rights reserved
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mentor
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a><br>&nbsp;
            </div>
        </div>
    </footer>
</section>
<!--Footer-->
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "112122212170911", // Facebook page ID
            whatsapp: "+628159551299", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp,facebook", // Order of buttons
        };
        var proto = document.location.protocol,
            host = "getbutton.io",
            url = proto + "//static." + host;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () {
            WhWidgetSendButton.init(host, proto, options);
        };
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

<!--/ Footer-->

<script th:src="@{/index/js/jquery.min.js}"></script>
<script th:src="@{/index/js/jquery.easing.min.js}"></script>
<script th:src="@{/index/js/bootstrap.min.js}"></script>
<script th:src="@{/index/js/custom.js}"></script>
<script th:src="@{/index/contactform/contactform.js}"></script>

</body>
</html>