<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Data Nilai Biaya</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title">
                    <h1>Upload Nilai Biaya</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <form method="get" th:action="@{/nilaibiaya/csv}">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label></label><br>
                                                            <input type="submit" value="Download Template" class="btn  btn-warning btn-sm waves-effect">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <h3>Upload Biaya :</h3>
                                            <form method="post" th:action="@{/nilaibiaya/list}" id="myForm1"  enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Jenis Biaya :</label>
                                                                <select name="jenisBiaya" class="form-control">
                                                                    <option selected th:if="${jenisBiaya} != null" th:each="data: ${jenisBiaya}"
                                                                            th:value="${data.id}" th:text="${data.nama}"></option>
                                                                    <option value=""></option>
                                                                    <option th:each="jenis : ${daftarJenis}"
                                                                            th:text="${jenis.nama}" th:value="${jenis.id}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Periode :</label>
                                                                <select name="periode" class="form-control">
                                                                    <option selected th:if="${periode} != null" th:each="data: ${periode}"
                                                                            th:value="${data.id}" th:text="${data.nama}"></option>
                                                                    <option value=""></option>
                                                                    <option th:each="jenis : ${daftarPeriode}"
                                                                            th:text="${jenis.nama}" th:value="${jenis.id}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Grade :</label>
                                                                <select name="grade" class="form-control">
                                                                    <option value=""></option>
                                                                    <option th:each="jenis : ${daftarGrade}"
                                                                            th:text="${jenis.nama}" th:value="${jenis.id}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>File <span style="color: red">*.csv </span>:</label>
                                                                <input type="file" id="fileNilai" name="fileNilai" class="form-control" placeholder="File Biaya">
                                                                <input type="checkbox" id="pakaiHeader"
                                                                       name="pakaiHeader" checked value="true" class="filled-in">
                                                                <label for="pakaiHeader">Pakai Judul Kolom </label>                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2"  style="margin-top: 7px;">
                                                        <div class="form-group">
                                                            <label></label><br>
                                                            <button type="submit" value="Upload" class="btn  btn-info btn-sm waves-effect">Upload</button>
                                                            <a onclick="myFunction()" type="button" class="btn  btn-danger btn-sm waves-effect">Reset</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title">
                    <h1>Data Nilai Biaya</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <a th:href="@{/nilaibiaya/form}" class="btn btn-md  btn-info">Tambah</a>
                                            <h3>Pencarian :</h3>
                                            <form method="get" id="myForm">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Program Studi</label>
                                                                <select name="prodi" class="form-control">
                                                                    <option selected th:if="${prodi} != null" th:each="data: ${prodi}"
                                                                            th:value="${data.id}" th:text="${data.nama}"></option>
                                                                    <option value=""></option>
                                                                    <option th:each="jenis : ${daftarProdi}"
                                                                            th:text="${jenis.nama}" th:value="${jenis.id}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Jenis Biaya</label>
                                                                <select name="jenisBiaya" class="form-control">
                                                                    <option selected th:if="${jenisBiaya} != null" th:each="data: ${jenisBiaya}"
                                                                            th:value="${data.id}" th:text="${data.nama}"></option>
                                                                    <option value=""></option>
                                                                    <option th:each="jenis : ${daftarJenis}"
                                                                            th:text="${jenis.nama}" th:value="${jenis.id}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Periode</label>
                                                                <select name="periode" class="form-control">
                                                                    <option selected th:if="${periode} != null" th:each="data: ${periode}"
                                                                            th:value="${data.id}" th:text="${data.nama}"></option>
                                                                    <option value=""></option>
                                                                    <option th:each="jenis : ${daftarPeriode}"
                                                                            th:text="${jenis.nama}" th:value="${jenis.id}"></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" style="margin-top: 7px;">
                                                        <div class="form-group">
                                                            <label></label><br>
                                                            <input type="submit" value="Cari" class="btn  btn-warning btn-sm waves-effect">
                                                            <a onclick="myFunction()" type="button" class="btn  btn-danger btn-sm waves-effect">Reset</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <br>
                                            Show <span sd:page-size-selector="javascript" ></span> entries
                                            <hr>
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Jenis Biaya</th>
                                                            <th>Grade</th>
                                                            <th>Periode</th>
                                                            <th>Program Studi</th>
                                                            <th>Nilai Biaya</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="p, row : ${daftarNilai}">
                                                            <td th:text="${(row.index + 1) + (daftarNilai.number * daftarNilai.size)}">#</td>
                                                            <td th:text="${p. jenisBiaya.nama}">muamalah</td>
                                                            <td th:text="${p. Grade.nama}">10-08-2017</td>
                                                            <td th:text="${p. periode.nama}">10-10-2017</td>
                                                            <td th:text="${p. programStudi.nama}">10-10-2017</td>
                                                            <td th:text="${p. nilai}">10-10-2017</td>
                                                            <td width="100px">
                                                                <a href="form"  th:href="@{/nilaibiaya/form(id=${p.id})}"
                                                                   class="btn bg-green btn-xs waves-effec">Edit
                                                                </a>
                                                            </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div sd:pagination-summary="">info</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <nav class="pull-right">
                                                        <ul class="pagination" sd:pagination="full">
                                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//table//-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>
<script>
    function myFunction() {
        document.getElementById("myForm").reset();
    }
    function myFunction() {
        document.getElementById("myForm1").reset();
    }
</script>