<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<style type="text/css">
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #1c4189}
</style>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Seleksi Penerimaan Mahasiswa Baru Institut Tazkia">
    <meta name="author" content="Institut Tazkia">
    <meta name="keywords" content="institut tazkia, kampus ekonomi syariah, kampus swasta terbaik">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/index/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/index/css/owl.theme.default.min.css}">
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/index/img/favicon.png}" type="image/x-icon">
    <!-- my style -->
    <link rel="stylesheet" th:href="@{/index/css/mainstyle.css}">
    <title>MBS - SPMB Institut Tazkia</title>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{/index/img/logo-header.svg}" alt="logo Institut Tazkia"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-right"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto my-3">
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link page-scroll" href="#konsentrasi">Konsentrasi</a>
                    <a class="nav-link page-scroll" href="#proker">Prospek Kerja</a>
                    <a class="nav-link page-scroll" href="#testimoni">Testimoni</a>
                    <a class=" btn btn-blue" th:href="@{/leads/form}">Daftar Sekarang</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <!-- slider -->
    <div class="main-slider owl-carousel owl-theme">
        <div class="item slider slider-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="heading">
                            <h2>Manajemen Bisnis Syariah<br>Institut Tazkia</h2>
<!--                            <p class="lead mt-5">Diskon biaya pendaftaran Rp.50.000,- <br>kode vocher GHT5789</p>-->
                        </div>
                        <a th:href="@{/leads/form}" class="btn btn-lg btn-white">Daftar Sekarang</a>
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" th:src="@{/index/img/study.svg}" alt="study-tazkia">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider -->
    <div class="container">
        <!-- about section -->
        <span class="anchor" id="about"></span>
        <div class="row about">
            <div class="col-md-6">
                <h5>Apa itu Program Studi<br>Manajemen Bisnis Syariah (MBS) ?</h5>
                <div class="divider mb-5 mt-2"></div>
                <p>Prodi MBS merupakan program studi yang menawarkan kepada para mahasiswa untuk menumbuhkembangkan passion bisnis dan keuangan syariah. Prodi ini telah meluluskan banyak professional di bidang keuangan Syariah baik bertaraf nasional, regional dan Internasional. Pemantapan keilmuan bisnis Syariah ditanamkan sejak awal semester dengan perpaduan praktik dan program magang industri dan diakhiri dengan proposal kelayakan bisnis. Tidak kalah menariknya pada 2 tahun terakhir (2018), prodi ini juga menawakan konsentrasi sharia digital marketing, untuk menjawab tantangan digitalisasi bisnis secara massif.</p>
            </div>
            <div class="col-md-6">
                <img th:src="@{/index/img/lp-mbs1.svg}" alt="about" class="img-fluid">
            </div>
        </div>
        <!-- end about section -->
        <!-- why section -->
        <div class="row why">
            <div class="col-md-5">
                <img th:src="@{/index/img/lp-mbs2.svg}" alt="why" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h5>Kenapa Harus Pilih Program Studi<br>Manajemen Bisnis Syariah (MBS) ?</h5>
                <div class="divider mb-5 mt-2"></div>
                <p>Karena prodi MBS IAI Tazkia berpengalaman lebih dari 20 tahun (sejak 2000) pada bidang keuangan, bisnis dan pemasaran shariah. Kurikulum dengan integrasi keilmuan dan praktik Syariah, penguatan mental bisnis dan profesionalitas kerja. Didukung dengan dosen-dosen dengan pengalaman dan kepakaran disetiap bidangnya, sehingga memudahkan mahasiswa memahami teori dan praktik dalam industri Syariah. Selain lingkungan yang sangat mendukung, fasilitas yang dimiliki prodi MBS juga memacu percepatan mahasiswa untuk melangkah pada industri riil yakni laboratory mini bank & Galery Investasi untuk konsentrasi keuangan & perbankan Syariah, inkubator bisnis untuk mereka yang sedari awal bergairah untuk menjadi pebisnis. Diakhiri dengan sertifikasi kemampuan dasar barupa general banking, sertifikasi profesi pasar modal dan pendampingan bisnis.</p>
                <a class="btn btn-lg btn-blue my-5" th:href="@{/leads/form}">Daftar Sekarang</a>
            </div>
        </div>
        <!-- end why section -->
    </div>
    <!-- konsentrasi -->
    <span class="anchor" id="konsentrasi"></span>
    <section class="konsentrasi">
        <div class="container">
            <h5>Pilihan Konsentrasi<br>Manajemen Bisnis Syariah</h5>
            <div class="divider mb-5 mt-2"></div>
            <div class="row">
                <div class="col-md-4">
                    <img th:src="@{/index/img/lp-mbs-ico2.svg}" alt="kewirausahaan" class="img-fluid my-4">
                    <p class="lead">Kewirausahaan Syariah</p>
                    <a th:href="@{/leads/form}" class="lead"><i class="fas fa-arrow-right mr-2"></i>Daftar Sekarang</a>
                </div>
                <div class="col-md-4">
                    <img th:src="@{/index/img/lp-mbs-ico3.svg}" alt="" class="img-fluid my-4">
                    <p class="lead">Pemasaran Digital Syariah</p>
                    <a th:href="@{/leads/form}" class="lead"><i class="fas fa-arrow-right mr-2"></i>Daftar Sekarang</a>
                </div>
                <div class="col-md-4">
                    <img th:src="@{/index/img/lp-mbs-ico1.svg}" alt="" class="img-fluid my-4">
                    <p class="lead">Keuangan & Perbankan Syariah</p>
                    <a th:href="@{/leads/form}" class="lead"><i class="fas fa-arrow-right mr-2"></i>Daftar Sekarang</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end konsentrasi -->
    <div class="container">
        <!-- prospek kerja -->
        <span class="anchor" id="proker"></span>
        <div class="row proker">
            <div class="col-md-5">
                <img th:src="@{/index/img/lp-mbs3.svg}" alt="why" class="img-fluid mb-5">
            </div>
            <div class="col-md-7">
                <h5>Prospek Kerja Jurusan<br>Manajemen Bisnis Syariah</h5>
                <div class="divider mb-5 mt-2"></div>
                <p>Prospek Kerja Lulusan dari Prodi MBS diantarnya menjadi : Professional Lembaga Keuangan Syariah seperti Bankir Shariah, Profesional Pasar modal Syariah, Profesional Asuransi Syariah, Manager Lembaga Keuangan Mikro Syariah dan lainnya, Entrepreneur (pebinis) Syariah, Sharia Digital Marketer, Staff keuangan korporasi  dan Sharia Philanthropy practitioner (Lembaga ZISWAF)</p>
            </div>
        </div>
        <!-- end prospek kerja -->
        <!-- mata kuliah -->
        <div class="matkul">
            <h5>Mata Kuliah<br>Manajemen Bisnis Syariah</h5>
            <div class="divider mb-5 mt-2"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Ekonomi Islam</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Kewirausahaan</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Komunikasi Bisnis</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Perilaku Organisasi & Konsumen</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Studi Kelakayan & Riset Bisnis</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Content Planning & Promotions</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Bank & Lembaga Keuangan Syariah</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Manajemen Keuanagan Syariah</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Etika Bisnis Syariah</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Pasar Modal Syariah</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Website Fundamentals & Tools</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Social Media Marketing</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- end mata kuliah -->
        <!-- testimoni mahasiswa -->
        <span class="anchor" id="testimoni"></span>
        <section class="testimoni-section">
            <h5>Apa kata mahasiswa<br>Manajemen Bisnis Syariah</h5>
            <div class="divider mb-5 mt-2"></div>
            <div class="testimoni owl-carousel owl-theme">
                <div class="item slider">
                    <div class="container">
                        <div class="row vertical-align-middle">
                            <div class="col-md-3">
                                <img class="img-fluid mb-4" th:src="@{/index/img/rafif.jpg}" alt="foto mahasiswa">
                            </div>
                            <div class="col-lg-7 col-md-9">
                                <h3>M. Rafif Difa</h3>
                                <p>Semester III</p>
                                <p>Kuliah di MBS Institut Tazkia, kita diajari oleh pakar, akademisi dan praktisi. Tidak hanya teori, tapi kita juga praktik langsung dari perusahaan yang kita kunjungi. Dan lagi kita tau hukum syariat mana yang boleh atau tidak, halal dan haram serta mana yang mashlahat untuk kemajuan ekonomi Islam ke depanny
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="container">
                        <div class="row vertical-align-middle">
                            <div class="col-md-3">
                                <img class="img-fluid mb-4" th:src="@{/index/img/haidar.jpg}" alt="foto mahasiswa">
                            </div>
                            <div class="col-lg-7 col-md-9">
                                <h3>Abdullah Haidar</h3>
                                <p>Semester VI</p>
                                <p>Kuliah jurusan Manajemen Bisnis Syariah di Institut Tazkia itu, kita bisa mengasah skill komunikasi, entrepreneurship yang sesuai syariah, dan lagi kuliahnya Santai, Asik, plus dosennya keren-keren.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="container">
                        <div class="row vertical-align-middle">
                            <div class="col-md-3">
                                <img class="img-fluid mb-4" th:src="@{/index/img/susi.jpg}" alt="foto mahasiswa">
                            </div>
                            <div class="col-lg-7 col-md-9">
                                <h3>Susi Anggraeni</h3>
                                <p>Semester V</p>
                                <p>Asiknya MBS Institut Tazkia itu lebih santai, mudah dipraktekkan, dan lebih asik lagi kalo kita ngrintis bisnis sambil kuliah, jadi bisa langsung  dipraktekkan, jadi kayak belajar yang dibayar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimoni mahasiswa -->
        <!-- profil alumni -->
        <h5>Profil Alumni<br>Manajemen Bisnis Syariah</h5>
            <div class="divider mb-5 mt-2"></div>
            <div class="profil-alumni owl-carousel owl-theme">
                <div class="item slider">
                    <div class="card" >
                        <img th:src="@{/index/img/ghifary.jpg}" class="card-img-top" alt="photo alumni">
                        <div class="card-body">
                            <h6>Ghifary Muhammad</h6>
                            <p>Alumni MBS 2020</p>
                            <hr>
                            <p class="card-text">CEO PT. Fatih Alghifary Indonesia</p>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="card" >
                        <img th:src="@{/index/img/zaki.jpg}" class="card-img-top" alt="photo alumni">
                        <div class="card-body">
                            <h6>Muhammad Abda'u Zaki</h6>
                            <p>Alumni MBS 2017</p>
                            <hr>
                            <p class="card-text">Owner Zaemercy</p>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="card" >
                        <img th:src="@{/index/img/reza.jpg}" class="card-img-top" alt="photo alumni">
                        <div class="card-body">
                            <h6>Reza Muhammad</h6>
                            <p>Alumni MBS 2015</p>
                            <hr>
                            <p class="card-text">Owner Travel Al- Amin</p>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="card" >
                        <img th:src="@{/index/img/cikal.jpg}" class="card-img-top" alt="photo alumni">
                        <div class="card-body">
                            <h6>Chikal A. Putra Naisabur</h6>
                            <p>Alumni MBS 2015</p>
                            <hr>
                            <p class="card-text">Pengelola Pesantren Al-Falah</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end profil alumni -->
    </div>
    <!-- email subscribetion section -->
    <section class="email-subscribe">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>Dapatkan Informasi Menarik<br>Seputar Ekonomi dan Bisnis Islam</p>
                    <form action="" method="">
                        <div class="form-row justify-content-center">
                            <div class="col-7">
                                <label class="sr-only" for="email">email</label>
                                <input type="email" class="form-control" id="email" placeholder="Masukan Email Aktif">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn mb-2">SUBSCRIBE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end email subscribetion section -->
    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="https://spmb.tazkia.ac.id"><img class="img-fluid" th:src="@{/index/img/logo.svg}"
                                alt="logo institut tazkia"></a>
                    </div>
                    <div class="sosial-icon">
                        <a href="https://www.facebook.com/kampustazkia/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/company/tazkia/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/c/TazkiaTV"><i class="fab fa-youtube-square"></i></a>
                        <a href="https://www.instagram.com/tazkiaofficial/"><i class="fab fa-instagram-square"></i></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="address">
                        <h5><a
                                href="https://www.google.com/maps/place/STEI+Tazkia/@-6.5679603,106.8466874,16z/data=!4m5!3m4!1s0x0:0xc5ab7788a51fc54b!8m2!3d-6.569154!4d106.84702">kampus
                                Utama</a></h5>
                        <p>Jl. Ir. H. Djuanda No. 78 Sentul City, Bogor 16810<br>Indonesia Telp. +62 (21) 87962291-93
                        </p>
                        <h5><a
                                href="https://www.google.com/maps/place/Kampus+Matrikulasi+STEI+TAZKIA/@-6.5685895,106.7762874,12z/data=!4m8!1m2!2m1!1smatrikulasi+di+dekat+Institut+Tazkia,+Citaringgul,+Bogor,+Jawa+Barat!3m4!1s0x0:0x1e468c4f8f667574!8m2!3d-6.5727201!4d106.7428207">Kampus
                                Matrikulasi</a></h5>
                        <p>Jl. Raya Dramaga Km.7 Dramaga, Bogor 16680<br>Indonesia Telp. +62 (251) 8421076</p>
                        <h5><a href="https://goo.gl/maps/x9Bfm69Lqe9PJtf19">Kampus Tahfizh</a></h5>
                        <p>Jl. Cilember No.156 Cilember, Bogor 16750 Indonesia</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h5>Kontak Informasi SPMB</h5>
                        <a href="mailto:spmb@tazkia.ac.id"><i class="fas fa-envelope"></i>spmb@tazkia.ac.id</a>
                        <a href="https://wa.me/6282184800600"><i class="fab fa-whatsapp-square"></i>+62 82-18480-0600
                            (Humas Tazkia)</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer section -->
    <!-- sub footer -->
    <div class="container sub-footer text-center">
        <hr>
        <p class="my-5 text-muted">Copyright © 2020 Institut Tazkia. All Right Reserved. Template By <a
                href="https://www.instagram.com/dofirfauzi">Dofir Fauzi</a></p>
    </div>
    <!-- end sub footer -->

    <!-- back to top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
    <!-- end back to top -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <script th:src="@{/index/js/owl.carousel.min.js}"></script>
    <script th:src="@{/index/js/script.js}"></script>
</body>

</html>