<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8">
  <title>Form Input Diskon</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">
  <form th:action="@{/diskon/form}" th:object="${diskon}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <div class="row">
      <div class="col-md-6 ">
        <div class="x_panel">
          <div class="x_title">
            <h1>Input Diskon</h1>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br/>
            <form class="form-label-left input_mask">

              <div class="col-md-6 col-sm-6  form-group has-feedback">
                <label for="inputSuccess2">Diskon :</label>
                <input type="number" min="1" max="20" name="diskon" th:field="*{diskon}"  class="form-control has-feedback-left" id="inputSuccess2" placeholder="Diskon %">
                <span class="fa fa-percent form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6  form-group has-feedback">
                <label for="inputSuccess3">Keterangan :</label>
                <input type="text" class="form-control" name="keterangan" th:field="*{keterangan}" id="inputSuccess3" placeholder="Keterangan">
                <span class="fa fa-text-height form-control-feedback right" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6">
                <label for="inputSuccess4">Tanggal Mulai :</label>
                <input type="date" class="form-control" name="tanggalMulai" th:field="*{tanggalMulai}" id="inputSuccess4" >
              </div>

              <div class="col-md-6 col-sm-6">
                <label for="inputSuccess5">Tanggal Selesai :</label>
                <input type="date" class="form-control" name="tanggalSelesai" th:field="*{tanggalSelesai}" id="inputSuccess5">
              </div>

              <div class="form-group row">
              </div>

              <div class="ln_solid"></div>
              <div class="form-group row">
                <div class="col-md-9 col-sm-9  offset-md-12">
                  <button type="submit" class="btn btn-success">Selesai</button>
                  <a th:href="@{/diskon/list}" type="button" class="btn btn-danger">Batal</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </form>

</section>

</body>
</html>